@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome</h1>

    <div class="ui container centered middle">
    <div class="ui raised segment">
        <form class="ui form" method="post">
            <div class="field">
                <label>Circle</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="circleId">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Circle</div>
                    <div class="menu">
                        @foreach (var circle in Model.Circles)
                        {
                            <div class="item" data-value="@circle.Id">@circle.Name</div>
                        }
                    </div>
                </div>
            </div>
            <button class="ui button primary" type="submit">Submit</button>

            @Html.AntiForgeryToken()
        </form>
        </div>
    </div>
</div>
